
<div id="exitpopup_bg"></div>
<div  id="exitpopup">
  <div  id="closebutton">
    <img src="/assets/close.png" style="float: right; margin-right: 0px; margin-top: 0px;" width="29" height="29"/>
    </div>

        <h1>Wait!!! Before you go... 2</h1>
        <h1>offrta 2*1</h1>
        <%= render 'form'  %>
        </div>

       <div id="nothanks">

           <a href="#">No thanks</a>
       </div>


       </div>
       <div id="saroj">

           <a href="#">saroj</a>
       </div>

    <!--a href="himalayas"><img src="assets/letmeinnow.png" style="width:568px; height:190px" border="0" style="border:0px; margin:0px auto;" /></a!-->


<%= link_to 'Back', exitpops_path %>
