body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.facebook {
  float: left;
  width: 16.6666666666%;
  height: 290px;
  margin: 7px 0 0 4.08073%;
  background-color: rgb(68, 153, 222);
}

.form {
  float: left;
  clear: both;
  width: 20.8333333333%;
  height: 527px;
  margin: 7px 0 0 0.41667%;
  background-color: rgb(222, 222, 222);
}

.nav {
  float: left;
  width: 100%;
  height: 57px;
  background-color: rgb(254, 220, 42);
}

.slideshow {
  float: left;
  width: 53.4166666666%;
  height: 533px;
  margin: 7px 0 0 4.25%;
  background-color: rgb(237, 27, 27);
}

@media(max-width: 900px) {
  .facebook {
    clear: both;
    width: 22.4444444444%;
    margin-top: 29px;
    margin-left: 1.10938%;
  }

  .form {
    width: 23.2222222222%;
    margin-left: 0.27778%;
    background-color: rgb(138, 193, 49);
  }

  .slideshow {
    width: 72.7777777777%;
    height: 527px;
    margin-left: 2.05556%;
  }
}

@media(max-width: 447px) {
  body {
    font-size: 1em;
  }

  .facebook {
    width: 51.8421052631%;
    height: 304px;
    margin-top: 18px;
    margin-left: 3.1285%;
  }

  .form {
    width: 59.5078299776%;
    height: 387px;
    margin-top: 9px;
    margin-left: 3.1285%;
  }

  .slideshow {
    clear: both;
    width: 91.4988814317%;
    height: 355px;
    margin-top: 5px;
    margin-left: 2.00993%;
  }
}