body {
  margin: 0px;
  height: 100%;
  background: url(background6.jpg) white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1em;
}

/*========= start navigation ======*/
.nav {
  background: #1d8d3d;
  height: 2.9em;
  width: 100%;
}

.user_nav {
  float: right;
}

ul {
  background: #ce75d0;
  height: 2.5em;
  width: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

li a {
  display: block;
  line-height: 2em;
  padding: 0 1em;
  color: white;
  text-decoration: none;
  float: right;
  font-size: 19px;
}

li a:hover {
  background: url("nav_rollover.png") no-repeat center center;
  height: 2em;
  padding-top: .3em;
  position: relative;
  top: -.3em;
  border-radius: .3em .3em 0 0;
}

.current, a:hover.current {
  background: #AD9B7F;
  color: #eee;
  padding-top: .3em;
  border-radius: .3em .3em 0 0;
  position: relative;
  top: -.3em;
  border-bottom: .3em solid #917F63;
}

/*=========== start of container ======*/
.container {
  width: 100%;
  min-height: 600px;
}

/*=========== start of form ======*/
.form {
  margin: 5px;
  margin-right: 20px;
  width: 230px;
  float: left;
}

select {
  font-size: 15px;
  width: 15em;
  text-indent: 25px;
  margin-top: 5px;
  text-transform: capitalize;
}

#himalaya_datepicker {
  font-size: 0.75em;
}

#himalaya_nombre {
  width: 10em;
}

#himalaya_apellidos {
  width: 9em;
  font-style: normal;
}

/*=========== start of slideshow ======*/

.slideshow {
  margin-top: 5px;
  width: 53%;
  float: left;
  height: 540px;
}


div#slider.ramblingSlider {
  margin: 0px;
  padding: 0px;
}

/*=========== start of facebook ======*/

.facebook {
  margin-top: 5px;
  margin-right: 1%;
}


.facebook iframe {
  width: 20%;
  height: 310px;
  float: right;
}

/*=========== start of footer ======*/

.clear {
  clear: both;
}


.footer {
  background-color: #ff5bfb;
  height: 3em;
  text-align: center;
  width: 100%;
}

/*=========== start of map ======*/

.map {
  margin-left: 30px;
  float: left;
  width: 45%;
  height: 400px;
  padding: 10px;
  border-style: groove;
  border-color: #fea138;
}


.map iframe {
  width: 100% !important;
  height: 100% !important;
}


.menus {
  float: left;
  width: 50%;
  margin-left: 5px;
}


.offerta {
  float: right;
  color: #f83b1b;
  width: 500px;
  font-weight: normal;
  font-size: 35px;
}


.image img {
  float: left;
  margin: 20px;
  width: 350px;
  height: 350px;
  top: 20px;
}


span.menu {
  color: #f83b1b;
  font-weight: normal;
  font-size: 35px;
  text-decoration: underline;
}


span.antes {
  color: #d8d7d9;
  font-size: 25px;
  text-decoration: line-through;
}


span.ahora {
  color: #080808;
}


.letter {
  float: left;
  margin-left: 50px;
  top: 0px;
  width: 400px;
  font-size: 15px;
  text-align: center;
}


.letter p a {
  top: 0px;
  font-size: 20px;
  color: #ff694c;
  text-transform: capitalize;
}


.owl-carousel.owl-theme {
  margin-top: 5px;
  margin-left: 2%;
  width: 50%;
  float: left;
  height: 600px;
}


.item img {
  display: block;
  width: 100%;
  height: auto;
}


.foods {
  float: left;
  width: 25%;
  margin-left: 40px;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}

@media (max-width: 1000px) and (min-width: 500px) {

   .user_nav {
  float: left;
}
  .nav {
    background: #1d8d3d;
    height: 5em;
    width: 100%;
  }

  li {
    display: block;
    padding: 0 .5em;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }


  ul {
    background: #ce75d0;
    height: 4.5em;
    width: 100%;
  }


  li a:hover {
    background: url("nav_rollover.png") no-repeat center center;
    padding: 0 1em;
  }
  .form {
    margin: 5px;
    width: 230px;
    float: left;
  }


  .slideshow {
    float: left;
    width: 91.4988814317%;
    margin-top: 5px;
  }


  .owl-carousel.owl-theme {
    margin-top: 5px;
    width: 60%;
    height: 350px;
    float: left;
  }


  .map {
    float: left;
    margin: 5px;
    width: 60%;
    height: 450px;
    padding: 10px;
    border-style: groove;
    border-color: #fea138;
  }


  .map iframe {
    width: 100% !important;
    height: 100% !important;
  }


  .facebook iframe {
    width: 250px;
    height: 310px;
    float: left;
  }


  .facebook {
    clear: both;
    margin-top: 0px;
    margin-right: 1%;
  }
}
@media (max-width: 500px) and (min-width: 250px) {

  body {
    font-size: 1em;
  }


  .nav {
    background: #1d8d3d;
    height: 5em;
    width: 100%;
  }
  .user_nav {
  float: left;
}


  li {
    display: block;
    padding: 0 .1em;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }


  ul {
    background: #ce75d0;
    height: 4.5em;
    width: 100%;
  }


  li a:hover {
    background: url("nav_rollover.png") no-repeat center center;
    padding: 0 1em;
  }


  .slideshow {
    float: left;
    width: 91.4988814317%;
    margin-top: 5px;
    margin-left: 2.00993%;
  }


  .owl-carousel.owl-theme {
    margin-top: 5px;
    margin-left: 2%;
    width: 90%;
    height: 350px;
    float: left;
  }


  .map {
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 89%;
    height: 400px;
    padding: 10px;
    border-style: groove;
    border-color: #fea138;
  }


  .map iframe {
    width: 100% !important;
    height: 100% !important;
  }


  .facebook iframe {
    width: 250px;
    height: 310px;
    float: left;
  }


  .facebook {
    margin-top: 0px;
    margin-right: 1%;
  }
}
