/* @override http://localhost:3000/assets/himalayas.css?body=1 */

/* @override http://localhost:3000/assets/himalayas.css?body=1 */
/* @override http://localhost:3000/assets/himalayas.css?body=1 *
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
}
body {
  width: 100%;
  margin: 0 auto;
  background: white;
}

/*  Navigation  Contain*/
#mainnav {
  background: #916A31;
  height: 2.9em;
}

#user_nav {
  float: right;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

ul {
  background: #D5973C;
  height: 2.5em;
  width: 100%;
}

li a {
  display: block;
  line-height: 2em;
  padding: 0 1em;
  color: white;
  text-decoration: none;
  float: right;
  font-size: 19px;
}

li a:hover {
  background: url("nav_rollover.png") no-repeat center center;
  height: 2em;
  padding-top: .3em;
  position: relative;
  top: -.3em;
  border-radius: .3em .3em 0 0;
}

.current, a:hover.current {
  background: #AD9B7F;
  color: #eee;
  padding-top: .3em;
  border-radius: .3em .3em 0 0;
  position: relative;
  top: -.3em;
  border-bottom: .3em solid #917F63;
}

/***Main contain *****/
#main {
  top: 0px;
  position: relative;
}

aside.form {
  margin: 10;
  float: right;
}


aside {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}



aside#form {
  float: left;
}



aside.slideshow {
  top: 50px;
  left: 300px;
  position: absolute;
}



aside.facebook {
  position: relative;
  float: right;
  top: 40px;
  margin: 10px;
}



h6 {
  margin: 0px;
  color: #ed5b1e;
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
}

/* Form contain */



textchange {
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  background-color: white;
  position: relative;
  width: 17.875em;
  margin-left: 0.125em;
  padding: 2px;
  margin-top: 5px;
  border: 2px solid #4cf916;
  text-indent: 25px;
}




.selectchange select:hover {
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}




select {
  font-size: 15px;
  background-color: white;
  position: relative;
  width: 17.875em;
  margin-left: 0.125em;
  text-indent: 25px;
  margin-top: 15px;
}




select#himalaya_persona {
  background: url("persona.jpg") no-repeat left;
}




select#himalaya_hora {
  text-transform: capitalize;
  background: url("hora.jpg") no-repeat left;
}




select#himalaya_menu {
  text-transform: capitalize;
  background: url("menu.jpg") no-repeat left;
}




input {
  width: 24.8em;
  margin-left: 5;
  position: relative;
}




input#himalaya {
  text-transform: capitalize;
  font-size: 15px;
  width: 17.875em;
  margin-left: 0.125em;
}




.fecha input#himalaya {
  margin-top: 10px;
  background: url("fecha.jpg") no-repeat left;
  text-indent: 25px;
}




#himalaya_datepicker {
  font-size: 0.88em;
}




.actions input {
  font-size: 20px;
  background-color: white;
  position: relative;
  color: #009708;
  width: 10em;
  margin-left: 25px;
}




input#himalaya_nombre {
  text-transform: capitalize;
  font-size: 15px;
  width: 8.4em;
  margin-left: 0.125em;
}




input#himalaya_email {
  font-size: 15px;
  width: 17.875em;
  margin-left: 0.125em;
}




input#himalaya_apellidos {
  text-transform: capitalize;
  font-size: 15px;
  width: 8.4em;
  margin-left: 0.125em;
}




input#himalaya_telefono {
  text-transform: capitalize;
  font-size: 15px;
  width: 17.875em;
  margin-left: 2px;
}




input.btn.btn-primary {
  background-color: #0c6ad4;
  margin-left: 30px;
}




label {
  color: black;
  font-size: 15px;
  position: relative;
  left: 5px;
  font-weight: normal;
  font-style: normal;
}




div#emailnotice {
  top: 10px;
  background-color: #2BAA9C;
  position: absolute;
  left: 300px;
  width: 650px;
  font-size: 22px;
  color: #ffec42;
  text-align: center;
}




.contact {
  float: right;
  margin: 40px 20px;
  color: #00b09c;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
}




div#slider.ramblingSlider {
  position: absolute;
  margin: auto;
}




.field_with_errors {
  color: #D00;
  margin-left: 20px;
  display: inline;
  position: relative;
  right: 20px;
}




label.message {
  margin-left: 5px;
  padding-left: 5px;
  font-size: 18px;
  color: #ff5c20;
}



div.error th div.field_with_errors label.message {
  font-size: 16px;
  margin: 0px;
  font-weight: normal;
  font-style: normal;
  top: 20px;
  color: #ff5313;
}



div.error div.field_with_errors label.message {
  color: #ff372a;
  font-size: 18px;
  top: 20px;
}




.field_with_errors label {
  margin-top: -4px;
  position: absolute;
  left: 5px;
  opacity: 0.89;
}

/* My Comment */
/*
.middleline {
  background-color: #ee3c33;
  height: 80%;
  position: absolute;
  width: 4px;
  margin-left: 270px;
}
*/



.map {
  position: absolute;
  top: 50px;
  left: 21em;
  padding: 10px;
  border-style: groove;
  border-color: #fea138;
}




#slider.ramblingSlider {
  margin-top: 55px;
}

/*Menu page contain*/



.comida {
  float: left;
  margin-left: 100;
}




.comida text {
  font-size: 20px;
  text-align: center;
  float: left;
  position: relative;
  left: 50px;
}




.offerta {
  float: right;
  color: #f83b1b;
  width: 500px;
  font-weight: normal;
  font-size: 35px;
}




.image img {
  position: absolute;
  float: left;
  margin: 20px;
  top: 20px;
}




span.menu {
  color: #f83b1b;
  font-weight: normal;
  font-size: 35px;
  text-decoration: underline;
}




span.antes {
  color: #d8d7d9;
  font-size: 25px;
  text-decoration: line-through;
}




span.ahora {
  color: #080808;
}




.menus {
  float: left;
  margin: 50;
  margin-right: 40;
}




.letter {
  float: right;
  margin-left: 50px;
  top: 0px;
  width: 500px;
  height: 300px;
  font-size: 15px;
  text-align: center;
}




.letter p a {
  top: 0px;
  font-size: 20px;
  color: #ff694c;
  text-transform: capitalize;
}




.menus a {
  font-size: 30px;
  text-align: center;
  margin-left: 40;
  float: left;
  position: relative;
  color: #ff9521;
  left: 0px;
}




p a img {
  margin-left: -30;
}




.reserva_page {
  color: #000;
  font-style: italic;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: left;
  white-space: pre;
  background-color: white;
  margin-right: 500px;
  margin-left: 30px;
  float: none;
}




.reserva_page a {
  color: #ff4500;
}

/* footer contain */



#clear {
  clear: both;
}




#footer {
  background-color: yellow;
  height: 3em;
  text-align: center;
}




div#res_photo img {
  position: relative;
float: right;
margin-top: 30px;
clear: right;}




#telephone {
  font-size: 20px;
  float: right;
  text-align: center;
  margin-top: 30px;
  margin-right: 10px;
  clear: right;
}
