
body {

  background: white url(bg-repeat.jpeg) repeat top center;
  height: 100%;
   font-family: dhruba,Arial, Helvetica, sans-serif;
  font: 400 1.25em/1.38 'saroj';
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

.nav-hold {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto; }

/* NAVIGATION */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  background-color: #6C7A89; }

.nav-hold {
  overflow: hidden; }

.menus {
  width: 600px; }

.nav-logo {
  float: left;
  display: block;
  padding: 20px 10px;
  color: #f9f9f9;
  font-size: 2.5em; }

.nav-list {
  float: right; }

.nav-list li {
  float: left;
  list-style: none; }

.nav-list li a{
  display: block;
  padding: 20px 10px;
  color: #f9f9f9; }

.nav-menu {
  display: none; }

.menu_link li {
  display: inline;
  padding: 20px;
  float: right; }

.menu_link a {
  text-decoration: none;
  color: #00F;
  padding: 8px 8px 8px 100px; }

.user_nav {
  float: right;
  color: white;
  text-decoration: none; }

.wrapper {
  height: 500px; }

.himalaya-description {
  float: left;
  margin-left: 6.5%;
  width: 720px;
  font-size: 1em;
  color: black;
  text-align: justify; }

.field_with_errors {
  margin-left: 20px;
  display: inline;
  position: relative;
  right: 20px; }

.field_with_errors label.message {
  float: left;
  padding-left: 15px;
  font-size: 18px;
  color: #ff5c20;
  font-weight: normal;
  font-style: normal; }

.home {
  position: fixed;
  top: 77px;
  left: 30%;
  z-index: 3; }

.nav_phone {
  float: right;
  color: white; }

.phone {
  color: white;
  float: right; }

.num {
  float: right;
  margin-right: 40px; }

.open {
  float: right;
  margin-right: 10px; }

.main {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 600px;
  margin-top: 115px;
  margin-left: 3%; }

/*=========== change in code fixed ======*/
.form {
  position: absolute;
  top: 0px;
  right: 3%;
  width: 26.5%;
  z-index: 3;
  height: 82%; }

.reserva_mesa {
  color: #ed5b1e;
  letter-spacing: 3px;
  font: 400 1.25em/1.38 Philosopher;
  margin-left: 1em;
  color: #ed5b1e; }

#emailnotice {
  top: 10px;
  background-color: #2BAA9C;
  font-size: 22px;
  color: #ffec42;
  text-align: center; }

  select {
    margin: 50px;
    border: 1px solid #111;
    background: transparent;
    width: 12.3em;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(arrow.png) 96%/15% no-repeat ;
    background-color: white;
  }

/*target Internet Explorer 9 and Internet Explorer 10:
select {
  width: 13.3em;
  text-indent: 10px;
  margin-top: 5px;
  text-transform: capitalize;
  font: .80em Philosopher;
}

*/
@media screen and (min-width: 0 \0) {
  select {
    background: none;
    padding: 5px; } }

input {
  width: 12em;
  font-size: 15px; }





#himalaya_datepicker {
  font-size: 0.64em; }

.actions {
  text-align: center;
  margin-left: 5px; }

/* My Comment */
.actions input {
  color: #1b5729;
  font-size: 22px;
  width: 6em;
  margin: 5px; }

.menus {
  width: 800px; }

.foods {
  float: left;
  width: 25%;
  margin: 30px;
  margin-top: 0px;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px; }

.foods a img {
  width: 11em;
  height: 10em; }

none {
  /*background-color: #dfdfdf; */
  font: 400 1.25em/1.38 Philosopher;
  color: white;
  background-color: white; }

/*=========== start of footer ======*/
.footer {
  clear: both;
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: 112px;
  margin: 0;
  color: white;
  background-color: #6C7A89; }

/*=========== menu-degustacion  ======*/
.menu-text {
  color: purple;
  font-weight: normal;
  font-size: 35px;
  width: 100%;
  margin-left: 5px; }

/*=========== change in code fixed ======*/
.menu-style {
  float: left;
  background-color: #cfbe46;
  margin-left: 40px;
  top: 0px;
  width: 60%;
  font-size: 15px;
  text-align: center;
  border-style: groove;
  border-color: #0e0000; }

.menu-style p a {
  top: 0px;
  font-size: 25px;
  color: #ff694c;
  text-transform: capitalize; }

/*=========== start of map ======*/
.map {
  float: left;
  width: 60%;
  height: 500px;
  padding: 10px;
  border-style: groove;
  border-color: yellow; }

.map iframe {
  width: 100% !important;
  height: 100% !important; }

/*=========== start of facebook ======*/
.facebook {
  margin-top: 5px;
  margin-right: 1%; }

.facebook iframe {
  width: 25%;
  height: 310px;
  float: left; }

/**
 himalaya image slider
   */
.rhino-bullets {
  position: absolute;
  bottom: 0px;
  left: 80%;
  z-index: 10; }

.rhino-bullets li {
  float: left;
  display: inline;
  margin: 0 2px; }

ul#slider {
  height: 550px; }

.rhino-bullets li a.rhino-bullet {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: #838559 url(img/slider/bullet.jpg);
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus {
  background: #a8aa7c url(img/slider/bullet-hover.jpg); }

.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
  background: #ba130d url(img/slider/bullet-hover.jpg); }

/* Rhino slide */
#page {
  width: 800px;
  height: 400px; }

ol.rhino-bullets {
  position: absolute;
  top: 350px; }

#slider img {
  position: relative;
  top: 5px;
  left: 60px;
  width: 700px;
  height: 350px;
  /*IE bugfix*/
  padding: 0;
  margin: 0; }

#slider li {
  list-style: none; }

#saroj, #exitpopup {
  text-align: center;
  width: 670px;
  height: 450px;
  margin: 0px auto;
  display: none;
  position: fixed;
  color: black;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 999999;
  background: yellow;
  opacity: .8; }

#exitpopup input {
  color: black; }

#exitpopup h1 {
  margin-top: 0px;
  padding-top: 0px; }

#exitpopup p {
  text-align: left; }

#exitpopup_bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  opacity: .8;
  filter: alpha(opacity=0.8);
  z-index: 999998; }

#closebutton {
  float: right;
  margin-right: 0px;
  margin-top: 0px;
  width: 29;
  height: 29; }

#nothanks a {
  color: white; }

@media (max-width: 1024px) and (min-width: 768px) {


  .main {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 700px;
    margin-top: 115px;
    margin-left: 3%; }

  /*=========== change in code fixed ======*/
  .form {
    position: absolute;
    top: 0px;
    right: 2px;
    width: 28%;
    z-index: 3;
    height: 82%; }

  input {
    width: 11em;
    font-size: 15px; }

  /*=========== change in code fixed ======*/
  .himalaya-description {
    display: none; }

  /* My Comment */
  .menus {
    width: 800px; }

  .foods {
    float: left;
    width: 39%;
    margin: 20px;
    margin-right: 5px;
    margin-top: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px; }

  /*=========== start of footer ======*/
  .footer {
    clear: both;
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 112px;
    margin: 0;
    color: white;
    background-color: #6C7A89; }

  /*=========== menu-degustacion  ======*/
  .menu-text {
    color: purple;
    font-weight: normal;
    font-size: 20px;
    width: 50%;
    margin-left: 5px; }

  /*=========== change in code fixed ======*/
  .menu-style {
    float: left;
    background-color: #cfbe46;
    margin-left: 2px;
    margin-bottom: 50px;
    top: 0px;
    width: 60%;
    height: 550px;
    font-size: 10px;
    text-align: center;
    border-style: groove;
    border-color: #0e0000; }

  .menu-style p a {
    top: 0px;
    font-size: 20px;
    color: #ff694c;
    text-transform: capitalize; }

  /*=========== start of map ======*/
  .map {
    float: left;
    width: 60%;
    height: 500px;
    padding: 10px;
    border-style: groove;
    border-color: yellow; }

  /*=========== start of facebook ======*/
  .rhino-bullets {
    position: absolute;
    bottom: 0px;
    left: 40%;
    z-index: 10; }

  .rhino-bullets li {
    float: left;
    display: inline;
    margin: 0 2px; }

  ul#slider {
    margin: 0px;
    padding: 0px;
    height: 550px; }

  /* Rhino slide */
  #page {
    width: 700px;
    height: 600px; }

  ol.rhino-bullets {
    position: absolute;
    top: 400px; }

  #slider img {
    position: relative;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 400px;
    /*IE bugfix*/
    padding: 0;
    margin: 0; }

  #slider li {
    list-style: none; } }
@media (max-width: 768px) {


  .main {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 750px;
    margin-top: 115px;
    margin-left: 3%; }

  /*=========== change in code fixed ======*/
  .form {
    position: absolute;
    top: 0px;
    margin-right: 5px;
    width: 35%;
    z-index: 3;
    height: 82%; }

  input {
    width: 11em;
    font-size: 15px; }

  /*=========== change in code fixed ======*/
  .himalaya-description {
    display: none; }

  /* My Comment */
  .menus {
    width: 600px; }

  .foods {
    float: left;
    width: 39%;
    margin: 5px;
    margin-right: 5px;
    margin-top: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px; }

  .foods a img {
    width: 11em; }

  /*=========== start of footer ======*/
  .footer {
    clear: both;
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 112px;
    margin: 0;
    color: white;
    background-color: #6C7A89; }

  /*=========== menu-degustacion  ======*/
  .menu-text {
    color: purple;
    font-weight: normal;
    font-size: 20px;
    width: 50%;
    margin-left: 5px; }

  /*=========== change in code fixed ======*/
  .menu-style {
    float: left;
    background-color: #cfbe46;
    margin-left: 1px;
    top: 0px;
    width: 60%;
    font-size: 10px;
    text-align: center;
    border-style: groove;
    border-color: #0e0000; }

  .menu-style p a {
    top: 0px;
    font-size: 20px;
    color: #ff694c;
    text-transform: capitalize; }

  /*=========== start of map ======*/
  .map {
    float: left;
    width: 59%;
    height: 450px;
    padding: 10px;
    border-style: groove;
    border-color: yellow; }

  /*=========== start of facebook ======*/
  .rhino-bullets {
    position: absolute;
    bottom: 0px;
    left: 30%;
    z-index: 10; }

  .rhino-bullets li {
    float: left;
    display: inline;
    margin: 0 2px; }

  ul#slider {
    margin: 0px;
    padding: 0px;
    height: 550px; }

  /* Rhino slide */
  #page {
    width: 500px;
    height: 600px; }

  ol.rhino-bullets {
    position: absolute;
    top: 400px; }

  #slider img {
    position: relative;
    top: 5px;
    left: 0px;
    width: 480px;
    height: 400px;
    /*IE bugfix*/
    padding: 0;
    margin: 0; }

  #slider li {
    list-style: none; } }




@media screen and (max-width: 500px) {
  .reserva_mesa {
  color: #ed5b1e;
  letter-spacing: 0px;
  font: 400 1.25em/1.38 Philosopher;
  margin-left: 1em;
  color: #ed5b1e; }
  .nav-bar {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    background-color: #6C7A89; }

  /* NAV MQ _ MOBILE */
  .nav-menu {
    float: right;
    font-size: 40px;
    font-weight: bold;
    color: #f9f9f9;
    display: block;
    padding: 20px 10px; }

  .nav-list {
    display: none; }

  .nav-open {
    float: left;
    width: 100%;
    display: block; }

  .nav-list li {
    width: 100%; }

  .nav-list li a {
    display: block;
    padding: 20px 10px;
    color: #f9f9f9;
    width: 100%; }

  .menu_link li {
    display: inline;
    padding: 20px;
    float: right; }

  .menu_link a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 100px; }

  .main {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-left: 3%; }

  /*=========== change in code fixed ======*/
 .form {
     position:relative;
     top: 0px;
     margin-left: 40px;
     width: 60%;
     z-index: 3;
     height: 61%; }

  .himalaya-description {
    display: none; }

  input {
    width: 11em;
    font-size: 15px; }

  /* My Comment */
  .foods {
    float: left;
    width: 50%;
    margin: 10px;
    margin-top: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px; }

  .foods a img {
    width: 13em;
    height: 10em; }

  /*=========== start of footer ======*/
  .footer {
    clear: both;
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 112px;
    margin: 0;
    color: white;
    background-color: #6C7A89; }

  /*=========== menu-degustacion  ======*/
  .menu-text {
    color: purple;
    font-weight: normal;
    font-size: 20px;
    width: 50%;
    margin-left: 5px; }

  /*=========== change in code fixed ======*/
  .menu-style {
    float: left;
    background-color: #cfbe46;
    margin-left: 2px;
    top: 0px;
    width: 90%;
    font-size: 10px;
    text-align: center;
    border-style: groove;
    border-color: #0e0000; }

  .menu-style p a {
    top: 0px;
    font-size: 20px;
    color: #ff694c;
    text-transform: capitalize; }

  /*=========== start of map ======*/
  .map {
    float: left;
    width: 87%;
    height: 250px;
    padding: 10px;
    border-style: groove;
    border-color: yellow; }

  /*=========== start of facebook ======*/
  .rhino-bullets {
    position: absolute;
    bottom: 0px;
    left: 20%;
    z-index: 10; }

  .rhino-bullets li {
    float: left;
    display: inline;
    margin: 0 2px; }

  ul#slider {
    margin: 0px;
    padding: 0px;
    height: 550px; }

  /* Rhino slide */
  #page {
    width: 300px;
    height: 280px; }

  ol.rhino-bullets {
    position: absolute;
    top: 250px; }

  #slider img {
    left: 7px;
    width: 100%;
    height: 250px;
    /*IE bugfix*/
    padding: 0;
    margin: 0; }

  #slider li {
    list-style: none; } }
