<title><% title"indian restaurant barcelona" %></title>



<div class="map">
	<iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2992.9241982873023!2d2.1791594219512986!3d41.3974525210545!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2e14ff9e87b%3A0x62151ef29cb27cdd!2sHimalaya+restaurant!5e0!3m2!1sen!2s!4v1399143915678"  frameborder="0" style="border:0"></iframe>
</div>

<div class="form">
 <%= render :partial=>'himalayas/form' %>

</div>
