<aside id="form">
 <%= render :partial=>'himalayas/form' %>

</aside>
<aside class="facebook">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FRestauranteHimalaya&amp;width=250&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=288053107882273" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:290px;" allowTransparency="true"></iframe>


</aside>

<div class="map">
	<iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2992.9241982873023!2d2.1791594219512986!3d41.3974525210545!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2e14ff9e87b%3A0x62151ef29cb27cdd!2sHimalaya+restaurant!5e0!3m2!1sen!2s!4v1399143915678" width="600" height="400" frameborder="0" style="border:0"></iframe>
</div>
