<aside class="form">
 <%= render :partial=>'himalayas/form' %>

</aside>

                 <div class ="offerta">
               	<span class="menu">Menu Degustion -60%</span>
                        <span class="antes">antes 30€ </span><span class="ahora">12€ </span>
                 </div>

            	<div class='image'><%= image_tag('offerta.jpg',size: '450x450') %></div>

<div class="letter">
 <p><a>Entrantes<a></p>
 <p>Samosa: empanadas crujientes rellenas de patatas y guisantes </p>
 <p>Cebolla bhaji: rodajas de cebollas rebozados en harina de garbanzos
 <p>Papadom: galletas crujientes de lentejas
 <p>
 <p><a>Tapas de tandoor<a></p>
 <p>Pollo tandoori: pollo marinado en yogur y  parrilla en el horno tandoor
<p>Seekh Kabab:carne picada de cordero marinado  y  parrilla en el horno tandoor
<p>Gambas malai: gambas marinadas en nata, yogur, y  parrilla en el horno tandoor
 <p>
 <p><a>Plato principal</p>
 <p>Pollo con mantequilla: trocitos de pollo cocinado en salsa de tomate, y mantequilla
 <p>
 <p><a>Acompañamientos<a></p>
 <p>Arroz basmati
 <p>Naan: pan blando tostado en el tandoor
 <p>
 <p><a>Postre<a></p>
 <p>Lassi de Mango: batido de pulpa de mango y yogurt

 <p>Condiciones
 <p>Bebidas no incluidas
 <p>
 </div>


